<div lang="en" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <title>Add Meter Data</title>
    <div th:replace="fragement/header"/>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div th:replace="fragement/left_slide_bar :: left"/>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-default ticket-entry">
                                <div class="panel-heading">
                                    Add User
                                </div>
                                <div th:fragment="message">
                                    <div class="container">
                                        <div class="row">
                                            <div class="span12">
                                                <div th:if="${success != null}">
                                                    <div class="alert alert-success">
                                                        <strong th:text="${success}"></strong>
                                                    </div>
                                                </div>
                                                <div th:if="${error != null}">
                                                    <div class="alert alert-danger">
                                                        <strong th:text="${error}"></strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <form th:action="@{/user/add}" th:method="POST" modelAttribute="add" commandName="add">

                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" name="name" placeholder="User Full Name" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label>User Name</label>
                                            <input type="text" name="userName" placeholder="User Name" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" name="password" placeholder="Password" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Role</label>
                                            <select class="form-control" name="role.id">
                                                <div>
                                                    <option value="1" sec:authorize-expr="hasAuthority('SUPERADMIN')">ADMIN</option>
                                                    <option value="2">USER</option>
                                                </div>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragement/footer"/>
    </div>
</div>