<footer id="footer"  xmlns:th="http://www.thymeleaf.org">
    Copyright © 2018 Power Sector
    <script th:src="@{/js/jquery-2.0.2.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>

    <div th:fragment="DataTableResource">
        <script th:src="@{https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css}"/>
    </div>

</footer>

