<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/web-icon.css}"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 logo">
                    <img src="/images/logo-bg.png" alt="dpdc" class="img-responsive"/>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="collapse navbar-menu navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown user-details">
                                <a href="javascript:void(0)" class="dropdown-toggle user-dropdown" data-toggle="dropdown">
                                    <img src="/images/DS-logo.png" alt="User photo"/>
                                    <span>
                                  DataSoft&nbsp;<i class="icon-arrow-down"></i>
                                </span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="userDetailsDropdown">
                                    <li><a href="">My Profile</a></li>
                                    <li><a href="">Setting</a></li>
                                    <li><a href="javascript: document.headerLogout.submit()">Logout</a>
                                        <form name="headerLogout" th:action="@{/logout}" method="POST" th:hidden="true">
                                            <a type="submit" th:href="@{/logout}"></a>
                                        </form></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>