body{
	background-color: #7c4dff;
	color: #757575;
	font-family: 'Raleway', sans-serif;
}
a{
	color: #4285f4;
	text-decoration: none;
}
a, a:hover{
	-webkit-transition-duration: .2s; /* Safari */
    transition-duration: .2s;
    text-decoration: none;
}
header{
	background-color: #ffffff;
	padding: 2px 0px;
}
/*Login Page*/
.login-area{
	background-color: #7c4dff;
	color: #ffffff;
}
.panel{
	background-color: transparent;
	border: none;

}
.panel-heading{
	background-color: #7c4dff;
	text-align: center;
}
.panel-title{
	margin: 0px 0px 10px 0px;
}
.panel-body{
	padding: 40px 30px;
	box-shadow: 0px 25px 55px 0px rgba(0, 0, 0, 0.21),0px 16px 28px 0px rgba(0, 0, 0, 0.22);
	border-radius: 2px;
    background: #ffffff;
}
.splash-container{
    max-width: 600px;
    margin: 50px auto;
}
.panel form input.form-control{
	background-color: #ffffff;
	box-shadow: none;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #999999;
	font-size: 20px;
	padding: 5px 0px 5px 35px;
	height: 50px;
}
.panel form input:focus{
	box-shadow: none;
	border-bottom: 1px solid #6756d0;
	color: #6756d0;
}
.form-group{
	margin-bottom: 30px;
}
.login-submit a.btn{
	width: 100%;
	background-color: #43a047;
	padding: 15px 0px;
	text-transform: uppercase;
	font-weight: 600;
	border: none;
	color: #ffffff;
}
.login-submit a.btn:hover{
	background-color: #388e3c !important;
	color: #ffffff;
}
.form-group.login-submit{
	margin-bottom: 0;
}
.form-group label{
	color: #666666;
	font-size: 14px;
	font-weight: 600;
}
.login-forgot-password{
	text-align: right;
}
.login-forgot-password a{
	font-weight: 600;
	font-size: 14px;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
    color: #333;
}
/* style icon */
.inner-addon i {
    position: absolute;
    padding-top: 12px;
    padding-left: 0px;
    margin-right: 14px;
    pointer-events: none;
    font-size: 24px;
}
/* align icon */
.left-addon .icon  { left:  0px; color: #999;}
.right-addon .icon { right: 0px;}
/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }