<div lang="en" xmlns:th="http://www.thymeleaf.org">
    <title>Add Meter Data</title>
    <div th:replace="fragement/header"/>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div th:replace="fragement/left_slide_bar :: left"/>
                <div class="col-lg-9 col-md-9">
                    <h2>Your payment has been processed successfully with Transaction id: 23475456</h2>
                </div>
            </div>
        </div>
        <div th:replace="fragement/footer"/>
    </div>

</div>



